<div class="bn">
<img src="https://assets.airtel.in/static-assets/new-home/img/xstream-logo.jpg?v=1607071409424">
<h1>unlock the world of entertainment.</h1>
<div class="ioo">
    <div class="card">
                <h6>Xstream Box</h6>
                <img src="/assets/images/log.png">
                <button>buy now</button>
    </div>
    <div class="card">
        <h6>Xstream Fiber</h6>
        <img src="/assets/images/log.png">
        <button>buy now</button>
</div>
<div class="card">
    <h6>Xstream App</h6>
    <img src="/assets/images/log.png">
    <button>buy now</button>
</div>
</div>
</div>