<div class="xyz navbar navbar-expand-lg">
    <div class="navbar-brand">
        <img src="/assets/images/logo.png">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colp" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="menu collapse navbar-collapse" id="colp">
        <ul class="navbar-nav">
            <li class="outer nav-item">prepaid
                <ul><li>recharge</li>
                    <li>new prepaid sim</li>
                    <li>view plans</li>
                    <li>international roaming   </li>
                    <li>switch prepaid to postpaid</li>
                    <li>port to airtel prepaid</li></ul> 
            </li>
            <li class="outer nav-item">postpaid
                <ul><li>pay bill</li>
                    <li>buy new connection</li>
                    <li>view plans</li>
                    <li>switch prepaid to postpaid</li>
                    <li>port to airtel</li>
                    <li>free sim delivery</li></ul>  
            </li>
            <li class="outer nav-item">broadband
                <ul><li>pay bill</li>
                    <li>buy new connection</li>
                    <li>view plans  </li></ul>
            </li>
            <li class="outer nav-item">dth
                <ul><li>recharge</li>
                    <li>buy new dth connection</li>
                    <li>views plans</li>
                    <li>upgrade box</li>
                    <li>xstream</li></ul>
            </li>
            <li class="outer nav-item">bank
                <ul><li>view account</li>
                    <li>get new account</li>
                    <li>add money</li>
                    <li>know more</li></ul>
            </li>
            <li class="outer nav-item">help
                <ul><li>open network</li>
                    <li>faqs</li>
                    <li>contact us</li></ul>
            </li>
        </ul>
    </div>
    <div class="rg-menu">
        <div>
            <div class="we">
                <img src="https://assets.airtel.in/static-assets/new-home/img/get-app.svg?v=1607071409424">
            <h6>get app</h6>
        </div>
        <div class="we">
            <img src="https://assets.airtel.in/static-assets/new-home/img/airtel-store.svg?v=1607071409424">
            <h6>airtel store</h6>
        </div>
        <div class="we">
<img src="https://assets.airtel.in/static-assets/new-home/img/login-user.svg?v=1607071409424">    
       
            <h6>login</h6>
        </div>
        </div>
    </div>
</div>
