<div class="recharge">
    <div class="her">
    <div class="hd">Recharge & pay bills</div>
    <div class="hd-cn">get exciting cashback and offers</div>
</div>
<div class="oi">
<div class="tabs">
    <ul>
        <li class="active"><img src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1607071409424">Prepaid</li>
        <li><img src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1607071409424">Postpaid</li>
        <li><img src="https://assets.airtel.in/static-assets/new-home/img/services-dth.svg?v=1607071409424">DTH</li>
        <li><img src="https://assets.airtel.in/static-assets/new-home/img/services-broadband.svg?v=1607071409424">Broadband</li></ul>
</div>
<div class="lik">
    <div>+91</div>
    <input type="text" placeholder="enter mobile number">
    <button>recharge</button>
</div>
</div>
</div>
