.navbar-nav .nav-item .nav-link {
    font-size: 15px;
}
.navbar-nav .nav-item .nav-link:hover{
    color:red;
    border-bottom: 2px solid red;
}
.navbar-nav .nav-item .inp{
    display: none;
    flex-direction: column;
    color:#000;
box-shadow: 0 0 1px gray;
}
.navbar-nav .nav-item .inp .nav-item .nav-link{
    border:none;
    cursor: pointer;
}
.navbar-nav .nav-item .inp .nav-item .nav-link:hover{
color:red;
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav .nav-item .inp{
    position: absolute;
    top:45px;
    width: 150px;
    background:#fff;
    left:0;
}
.navbar-nav .nav-item:hover>.inp{
display: flex;
}