<div class="carousel slide" id="myslideshow" data-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="content">
            <h2>Avail <span>Thanks Benefits</span></h2>
        </div>
        <div class="image hidden-xs"><img src="http://www.airtel.in/common/paymentBank/images/thanks-benefit.svg"></div>
    </div>
    <div class="carousel-item">
        <div class="content">
            <h2>Manage <span>all your accounts.</span></h2>
        </div>
        <div class="image hidden-xs"><img src="http://www.airtel.in/common/paymentBank/images/postpaid-digitaltv-broadband_240px.png"></div>
    </div>
    <div class="carousel-item">
        <div class="content">
            <h2>Track usage <span>analysis &amp; history.</span></h2>
        </div>
        <div class="image hidden-xs"><img src="http://www.airtel.in/common/paymentBank/images/illustration-search-files_240px.png"></div>
    </div>
    <div class="carousel-item">
        <div class="content">
            <h2>Set favorite <span>payment options.</span></h2>
        </div>
        <div class="image hidden-xs"><img src="http://www.airtel.in/common/paymentBank/images/illustration-payment_240px.png"></div>
    </div>
    <div class="carousel-item">
        <div class="content">
            <h2 class="brown-color">Pay bills <span class="grey-color">quickly and easily.</span></h2>
        </div>
        <div class="image hidden-xs"><img src="http://www.airtel.in/common/paymentBank/images/illustration-smartphone-action_240px.png"></div>
    </div>
    <div class="carousel-item">
        <div class="content">
            <h2 class="brown-color">Change plans <span class="grey-color">and add boosters.</span></h2>
        </div>
        <div class="image hidden-xs"><img src="http://www.airtel.in/common/paymentBank/images/illustration-4g-sim_240px.png"></div>
    </div>
</div>

</div>