<div class="wrp">
<h1>experience our services</h1>
<div class="card-wr">
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1607071409424">
<h6>Buy Prepaid</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1607071409424">
<h6>Buy Postpaid</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-broadband.svg?v=1607071409424">
<h6>Buy broadband</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-dth.svg?v=1607071409424">
<h6>Buy DTH</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-porttoairtel.svg?v=1607071409424">
<h6>Buy Xstream</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-xstream.svg?v=1607071409424">
<h6>Port to airtel</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-pretopost.svg?v=1607071409424">
<h6>Prepaid to Postpaid</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/one-airtel-plan.svg?v=1607071409424">
<h6>one airtel plan</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-pretopost.svg?v=1607071409424">
<h6>airtel payments bank</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/one-airtel-plan.svg?v=1607071409424">
<h6>international roaming</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/services-pretopost.svg?v=1607071409424">
<h6>business Postpaid</h6>
    </div>
    <div class="card">
        <img src="https://assets.airtel.in/static-assets/new-home/img/one-airtel-plan.svg?v=1607071409424">
<h6>wifi calling</h6>
    </div>
</div>
</div>