<div class="iui">
<div class="ioio">
    <div class="po">Postpaid</div>
    <div class="hr"></div>
    <div class="hio">airtel postpaid starting at<span>$499</span></div>
    <div class="opo">
        Unlimited calling,75GB data,Amazon prime,Airtel Xstream and many more.
    </div>
    <div class="yue">
        choose from our
    </div>
    <div class="yi">
        best selling postpaid plans
    </div>
    <div class="plans">
        <div class="card-m">
            <p>monthly rental of</p>
            <h1>$999</h1>
            <a>buy now</a>
        </div>
        <div class="card-m">
            <p>monthly rental of</p>
            <h1>$499</h1>
            <a>buy now</a>
        </div>
        <div class="card-m">
            <img src="/assets/images/logo.png">
        <p>view more</p>
        </div>
    </div>
</div>
<div class="cvb">
<img src="https://assets.airtel.in/static-assets/new-home/img/airtel-postpaid.jpg?v=1607071409424">
</div>
</div>