.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-indicators li{
    background-color:red;
}
.carousel.slide{
    position: relative;
    top: 0px;
}

@media(max-width:576px){
    #myslideshow .carousel-inner img{
        transform: scale(1.60,1.25)
    }  
}
@media(min-width:577px) and (max-width:767px){
    #myslideshow .carousel-inner img{
        transform: scale(1.65,1.25)
    } 
}
@media(min-width:768px) and (max-width:991px){
    #myslideshow .carousel-inner img{
        transform: scale(1.75,1.25)
    } 
}